.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: auto;
}
.cavcol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 60%;
}
.cavrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.cavitem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
